# Exclude lasso and las files from Git operations
*.lasso binary
*.lasso export-ignore
*.las binary
*.las export-ignore

# Only track Python files for language statistics
* linguist-vendored
*.py linguist-vendored=false
*.py linguist-detectable=true