contourpy==1.3.3
cycler==0.12.1
emcee==3.1.6
fonttools==4.59.1
gstools==1.7.0
gstools-cython==1.1.0
hankel==1.2.2
kiwisolver==1.4.9
lasio==0.32
markdown-it-py==4.0.0
matplotlib==3.10.5
mdurl==0.1.2
meshio==5.3.5
mpmath==1.3.0
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pillow==11.3.0
pyevtk==1.6.0
pygments==2.19.2
pyparsing==3.2.3
pyqt5==5.15.11
pyqt5-qt5==5.15.17
pyqt5-sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.1.0
scipy==1.16.1
segyio==1.9.13
six==1.17.0
tzdata==2025.2
